root {
  display: flex;
}

.table {
  color: #5c5c5c;
  margin: 60px auto;
  border-collapse: collapse;
}

th {
  font-weight: normal;
}

.table__row {
  border-bottom: 1px solid #ececec;
  background: white;
  transition: all 0.2s ease;
  padding: 10px 0;
}

.table__row:hover {
  background: #f8f8f8;
  /* background: linear-gradient(white 10%, #f8f8f8 10% 90%, white 90%); */
  cursor: pointer;  
}

.cell {
  padding: 12px 24px;
}

.table__header {
  border-bottom: 1px solid #afafaf;
}
.table__header .cell {
  vertical-align: top;
}

.table__button {
  border: none;
  position: absolute;
}