root {
  display: flex;
}

.table {
  color: #5c5c5c;
  margin: 60px auto;
  border-collapse: collapse;
}

th {
  font-weight: normal;
}

.table__row {
  border-bottom: 1px solid #ececec;
  background: white;
  transition: all 0.2s ease;
  padding: 10px 0;
}

.table__row:hover {
  background: #f8f8f8;
  background: linear-gradient(white 10%, #f8f8f8 10% 90%, white 90%);
  cursor: pointer;  
}

.cell {
  padding: 12px;
}

.table__header {
  border-bottom: 1px solid #afafaf;
}

.table__header .cell {
  vertical-align: top;
}

.table__button {
  border: none;
  outline: none;
  cursor: pointer;
  opacity: .7;
  transition: all 0.2s ease;
  position: relative;
  bottom: -2px;
}

.table__button:hover {
  opacity: 1;
}

.table__filter {
  border: none;
  border-bottom: 1px solid #ccc;
  width: 100%;
  margin-top: 10px;
  padding: 5px 0;
  display: block;
  width: -webkit-fill-available;
  outline: none;
}